* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

img {
  width: 100%;
  border-radius: 0.25rem !important;
}

a {
  text-decoration: none;
}

.active {
  font-weight: bold;
  color: #ff8700 !important;
}

.my-text {
  padding-right: 50px;
}

.my-text a {
  color: #fff;
  font-weight: bold;
}

.my-text span {
  padding-left: 15px;
}

.my-text li {
  padding: 10px 0;
}

.my-text a:hover {
  color: #ff8700;
}

.my-skills li {
  padding: 10px 0;
}

img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.footer {
  background-color: #ff8700;
  height: 200px;
}

.footer p {
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.showcase {
  background-color: #2a4776;
  color: #fff;
  height: 600px;
}

.showcase nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.showcase nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.showcase nav li {
  padding: 15px;
}

.showcase nav a {
  color: #fff;
}

.showcase nav a:hover {
  color: #ff8700;
}

.showcase-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.showcase-content img {
  width: inherit;
  height: 500px;
}

.showcase-content h1 {
  font-size: 50px;
  line-height: 1.2;
}

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

.m-1 {
  margin: spacerem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: spacerem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: spacerem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: spacerem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: spacerem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.btn-primary, .btn-secondary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
}

.btn-primary:hover, .btn-secondary:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-primary {
  background-color: #375e9c;
  color: #fff;
}

.btn-secondary {
  background-color: #ff8700;
  color: #fff;
}

@media (max-width: 700px) {
  .showcase {
    height: 400px;
  }
  .showcase-content {
    text-align: center;
  }
  .showcase img {
    display: none;
  }
  .showcase h1 {
    font-size: 15px;
  }
  .showcase h2 {
    font-size: 12px;
  }
  .showcase p,
  .showcase li,
  .showcase a {
    font-size: 11px;
  }
  .footer p {
    font-size: 11px;
  }
}

.my-text {
  padding-right: 0;
}

.my-text li {
  padding: 5px;
}
/*# sourceMappingURL=style.css.map */